header{
	width:100%;
	height:auto;
}
h1{
	color:rgb(255, 255, 255);
	text-align:center;
	font-size:220%;
}
h2{
	color:rgb(255, 255, 255)
}
ul{
	color:rgb(255, 255, 255)
}

p{
	color:rgb(255, 255, 255);
}
.app{
	display:inline-block;
	width:150px;
	height:150px;
	margin: 10px;

}
#services{
	text-align:center;
	width:100%;
	line-height: 20px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom:10px;
}

@media only screen and (min-width: 400px) {
	.jackbox{
		display:inline-block;
		width:30%;
		height:auto;
		min-height:500px;
		line-height: 20px;
		margin-right: 10px;
		margin-top: 10px;
		margin-bottom:50px;
		vertical-align: top;
	}
	.container {
		display: flex;
		width: 100%; 
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
	}
	.collection {
		width: 350px;
		/*min-width:160px;*/
		/*max-width:550px;*/
		display:inline-block;
		text-align:center;
		margin:10px;
	}
	.home{
		width:50%
	}
}
@media only screen and (max-width: 400px) {
	.jackbox{
		text-align: center;
		display:inline-block;
		width:100%;
		line-height: 20px;
		margin-right: 10px;
		margin-top: 10px;
		margin-bottom:10px
	}
	.container {
		flex-direction: column;
	}
	.collection {
		width: 100%;
		display:inline-block;
		text-align:center;
		margin:10px;
	}
	.home{
		width:100%
	}
}
body{
	background-color:rgb(17 24 39);
}
body::-webkit-scrollbar{
    display: none; /* for Chrome, Safari, and Opera */
}
.button{
	text-align: center;
	width: 200px;
}

input {
	width: 400px;
	text-align: center;
}
a:link {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}

#backgroung{
	width:49%;
	display:inline-block;
}

#responsability{
	width:49%;
	display:inline-block;
}
#interests{
	width:49%;
	display:inline-block;
}
#skills{
	width:49%;
	display:inline-block;
}
#homelab{
	width:49%;
	display:inline-block;
}
.content{
	display:inline-block;
}