header{
	#float:left;
	width:100%;
	height:auto;
}
h1{
	color:white;
	text-align:center;
	font-size:220%;
}
p{
	color:white;
}

body{
	background-color:rgb(17 24 39);
	color:white;
}
body::-webkit-scrollbar{
    display: none; /* for Chrome, Safari, and Opera */
}